/* .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background:brown;
    padding:20px, 80px;
    box-shadow: 0 5px 15px rgba(39, 99, 228, 0.445);
    align-content:center;
}

.nav{
    display: flex;
    align-items: center;
    padding: 80px;
} */

.bg-img{
    min-width: 1440px;
    min-height: 128px;
    background-position: center;
    background-image: url("../images/flag-header\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}