.bg-img {
    width: 100%;
    height: 144px;
    background-position: center;
    background-image: url("../images/flag-header\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.center-navbar{
    margin-left: 33%;
}

#responsive-navbar-nav{
    padding-top: 20px;
}

a{
    text-decoration: none;
    margin-right: 100px;
    margin-left: 0px;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}


button{
    width:160px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background: #4D6FC7;
    margin-left: 200px;
    color: white;
    font-family: 'Changa-one';
    font-size: 30px;
}

#loginBtn{
    font-size: 20px;
}

